nav {
  display: block!important;
  justify-content: center;
  margin-bottom: 10px;
  overflow-x: auto; 
  -webkit-overflow-scrolling: touch;
}

a {
  text-decoration: none;
  color: #42b6eb;
}

.mat-button-toggle-checked {
  background-color: #42b6eb;
}

.mat-button-toggle-checked a {
  color: #fff;
}
