<mat-card>
  <mat-card-header>
    <mat-card-title>Create Proposal</mat-card-title>
    <mat-card-subtitle>Fill out the fields below to generate a create Proposal RPC command</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <form [formGroup]="createProposalForm">

      <p>
        <mat-form-field>
          <input
            matInput
            formControlName="requestedAmount"
            placeholder="Amount of NAV Requested">
          <mat-hint>This is the total amount of NAV required for your proposal</mat-hint>
          <mat-error *ngIf="requestedAmountCtl.errors">
              Please enter a number
            </mat-error>
        </mat-form-field>
      </p>


      <p>
        <mat-form-field>
          <input
            matInput
            formControlName="navAddress"
            placeholder="NAV Address"
            maxlength="34">
          <mat-hint>The address you would like the requested NAV paid to</mat-hint>
          <mat-hint align="end">{{navAddressCtrl.value.toString().length}} / {{navcoinAddressLength}}</mat-hint>
          <mat-error *ngIf="navAddressCtrl.errors">
            Please enter a valid NavCoin address, a valid address is {{navcoinAddressLength}} characters long, your input is currently <b>{{navAddressCtrl.value.toString().length}}</b> characters long.
          </mat-error>
        
        </mat-form-field>
      </p>

      <p>
        <mat-form-field >
        <textarea matInput
                  rows="2"
                  [maxlength]="proposalDescMaxLength"
                  formControlName="description"
                  placeholder="Proposal Description"></textarea>
          <mat-hint>This should provide details about the proposal - you can also include links</mat-hint>
          <mat-hint align="end">{{proposalDescriptionCtrl.value.toString().length}} / {{proposalDescMaxLength}}</mat-hint>
          <mat-error *ngIf="proposalDescriptionCtrl.hasError('required')">
              Please enter a description of your proposal
            </mat-error>
        </mat-form-field>
      </p>

      <!-- <p>
        <mat-form-field>
          <input
            matInput
            formControlName="proposalFee"
            placeholder="Propsal Fee">
          <mat-hint>Optional: The propsal fee you wish to pay, the minimum is 100 NAV - if you leave this blank you will pay the default of 100 NAV</mat-hint>
        </mat-form-field>
      </p> -->

      <div class="time-to-complete">
        <h2 class="mat-h2">Time to complete</h2>
        <p>How long will the proposal take to complete?</p>
        <mat-form-field>
          <mat-select placeholder="Days" formControlName="days">
            <mat-option *ngFor="let day of days" [value]="day">
              {{day}} Day(s)
            </mat-option>
          </mat-select>
        </mat-form-field>
              
        <mat-form-field>
          <mat-select placeholder="Months" formControlName="months">
            <mat-option *ngFor="let month of months" [value]="month">
              {{month}} Month(s)
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Years" formControlName="years">
            <mat-option *ngFor="let year of years" [value]="year">
              {{year}} Year(s)
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>

    <button class="generate-btn" mat-raised-button
            type="button"
            (click)="onGenerateClick()"
            [disabled]="createProposalForm.invalid"

    >GENERATE COMMAND</button>

    <div class="cmd-display" *ngIf="showCmd">
      Copy the command below and paste it into the NavCoin core wallet debugger window, the navcoin cli, or the NavPi's command interface

      <pre>{{generatedCMD}}</pre>
    </div>


  </mat-card-content>


</mat-card>
