<mat-card>
  <mat-card-header>
    <mat-card-title>Vote for Payment Request</mat-card-title>
    <mat-card-subtitle>Fill out the fields below to generate a vote for 'Vote Payment Request' RPC command</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <form [formGroup]="votePaymentRequestForm">

      <p>
        <mat-form-field>
          <input
            matInput
            formControlName="paymentRequestHash"
            placeholder="Proposal hash">
          <mat-hint>The hash of the payment request you wish to vote on</mat-hint>
        </mat-form-field>
      </p>



      <mat-form-field>
        <mat-select placeholder="Your vote for the payment request" formControlName="vote">
          <mat-option *ngFor="let voteOp of voteOption" [value]="voteOp">
            {{voteOp}}
          </mat-option>
        </mat-select>
      </mat-form-field>




    </form>

    <button class="generate-btn" mat-raised-button
            type="button"
            (click)="onGenerateClick()"
            [disabled]="votePaymentRequestForm.invalid"

    >GENERATE COMMAND</button>

    <div class="cmd-display" *ngIf="showCmd">
      Copy the command below and paste it into the NavCoin core wallet debugger window, the navcoin cli, or the NavPi's command interface

      <pre>{{generatedCMD}}</pre>
    </div>




  </mat-card-content>



</mat-card>
